body {
    width: 80%;
    margin: 30px auto;
}
header {
    
}

nav {
    text-align: end;
    margin-top: -23px;
    margin-right: 12px;
}

nav a {
    
    color: #02407d;
    padding: 10px;
}

.redes-sociales {
    float: right;
}

.redes-sociales img {
    width: 70px;;
}

a {
    font-family: 'Lato';
    text-decoration: none;
}

.banner-hero {
    margin-top: 40px;
}

.banner-hero img {
    width: 100%;
}

.click-donacion img {
    width: 100%;
}

.aporte-medios {
    margin-top: 30px;
    text-align: center;
}

.aporte-medios h3 {
    font-family: 'Lato';
    text-align:center ;
    color: #013871;
}

.medios-pago {
    text-align: center;
}
.medios-pago img {
width: 300px;    
}

.aporte-medios p {
    font-family: 'Lato';
    color: #565656;
    font-size: 20px; 
    font-weight: 800;
    width: 80%;
    margin: 20px auto;
}

.invitacion img {
    width: 100%;
    margin-top: 10px;
}

.donacion {
    text-align: center;
    
}

.donacion img {
    width: 300px;
    padding: 20px;
}

.seleccionar {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.izquierda {
    float:left
}

.izquierda select {
    width: 100%;
}

.derecha {
    float: right;
}

.derecha input {
    width: 100%;
}

.seleccionar p {
    color: #565656;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 800;
}

.listado {
    margin-top: 160px;
    display: flex;
    margin-left: 65px;
}

.listado div {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.listado div img {
    width:200px;
    height: 200px;
    border-radius: 500px;
}

.item-animal h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lato';
    color: #656565;
    margin-top: 7px;
    margin-bottom: 0px;
}

.item-animal p {
    text-align: center;
    font-size: 14px;
    font-family: 'Lato';
    color: #656565;
    margin-top: 7px;
}

.boton {
    position: fixed;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }